.cell {
    width: 100px;
    height: 100px;
    margin: 7px 7px 7px 7px;
    border-radius: 5px;
    font-size: 64px;
    inline-size: 100px;
    float: left;
    color: #766e65;
    font-weight: bold;
    &.empty {
        background-color: #cdc1b6;
    }

    &.has-val {
        background-color: #eee4da;
    }
}
