.tile {
    width: 100px;
    height: 100px;
    margin: 7px 7px 7px 7px;
    border-radius: 5px;
    font-size: 64px;
    line-height: 100px;
    color: #766e65;
    font-weight: bold;
    background-color: #eee4da;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}

@media only screen and (max-width: 480px) {
    .tile {
        width: 75px;
        height: 75px;
        margin: 3px 3px 3px 3px;
        border-radius: 5px;
        font-size: 64px;
        line-height: 75px;
        top: 0px;
        left: 0px;
    }
}