.tile {
    width: 100px;
    height: 100px;
    margin: 7px 7px 7px 7px;
    border-radius: 5px;
    font-size: 64px;
    inline-size: 100px;
    // float: left;
    color: #766e65;
    font-weight: bold;
    background-color: #eee4da;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}
